<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,Microsoft.Practices.Unity.Configuration"/>
  </configSections>
  <unity>
    <containers>
      <container name="defaultContarner">
        <register type="Unity.IA, Unity" mapTo="Unity.A, Unity"/>
        <register type="Unity.IB, Unity" mapTo="Unity.B, Unity"/>
         <register type="Unity.IC, Unity" mapTo="Unity.C, Unity"/>
        <register type="Unity.ID, Unity" mapTo="Unity.D, Unity"/>
      </container>
    </containers>
</unity>
 </configuration>